ul {
  list-style-type: none;
}

li {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 15px;
  margin: 20px;
  width: 1000px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  align-items: center;
  transition: all 0.3s;
  background: #5bc1ff;
  color: #002a40;
}

li:hover {
  box-shadow: 0px 29px 69px -3px rgba(0,0,0,0.75);
  background: #c7f6f2;
  color: #076da2;
}

h1 {
  text-shadow: 0px 29px 69px -3px rgba(0,0,0,0.75);
  color: #6bf;
}

#innerBox {
  overflow: scroll;
}

#track {
  width:100px;
  height: 100px;
}

/**searchBar**/
.searchBar {
  background-color: white;
  padding: 12px;
  border-radius: 8px;
  width: 300px;
  display: flex;
  justify-content: start;
  gap: 0.5em;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.searchIcon {
  background-color: white;
  width: 20px;
}

.downloadIcon {
  width: 30px;
}

.trackContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.downloadButton {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/** Loader **/
.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  visibility: hidden;
  position: absolute;
  right: 20px;
  top: 50%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}