@import "tailwindcss";

:root {
  --background: linear-gradient(to bottom, #3366ff 0%, #66ccff 100%);
  --foreground: #171717;
}

html, body {
  margin: 0;
  min-height: 100%;
  background: var(--background);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}