.App {
  min-height: 100vh;
  background: transparent;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.Logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20vh;
}

.home-button {
  margin: 50px;
  padding: 30px;
  color: white;
}


/* Buttons create and join a party */
.join {
  background-color: #3366ff;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.join:hover {
  box-shadow: rgba(134, 237, 228, 0.4) -5px 5px, rgba(134, 237, 228, 0.3) -10px 10px, rgba(134, 237, 228, 0.2) -15px 15px, rgba(134, 237, 228, 0.1) -20px 20px;  transform: scale(1.05) rotate(1deg);
}

.create {
  background-color: #3366ff;
  border-radius: 100px;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.create:hover {
  box-shadow: rgba(134, 237, 228, 0.4) 5px 5px, rgba(134, 237, 228, 0.3) 10px 10px, rgba(134, 237, 228, 0.2) 15px 15px, rgba(134, 237, 228, 0.1) 20px 20px;  transform: scale(1.05) rotate(1deg);
  transform: scale(1.05) rotate(-1deg);
}
/**/